table
{
	width:100%;

}
tr
{
	height:30px;
}
table input
{
	height:20px;
	border:1px solid black;
}
td
{
	padding:10px;
}
.navbar-fixed-bottom
{
	border-radius:10px;
	text-align:center;
	color:#B896BA;
}